<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>My Quiz</h2>
<div id="main-area">
    <form action="{% url 'delete' %}" method="post">
        <!--{% for q in quiz_list %}-->
        <!--{% if q.author == request.user %} 수정하기!! (수정함) -->
        {% csrf_token %}
        <h3>퀴즈 제목: <a href="{{ q.get_absolute_url }}" id="quiz-{{ q.pk }}">{{ q.title }}</a></h3>
        <input type="checkbox" name="deletes[]" value="{{ q.pk }}" id="checkbox-{{ q.pk }}">
        <!--{% endif %}-->
        <!--{% endfor %}-->
        <button id="delete-quiz" type="submit">삭제</button>
    </form>
    <a href="/" id="goto-main">메인으로</a> <!-- '도메인/' 으로 이동 -->
</div>
</body>
</html>
