<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>문제 풀기 페이지</title>
</head>
<body>
    <div id="quiz-title">{{ quiz.title }}</div>
    <div id="quiz-author">{{ quiz.author }}</div>
    {% for question in questions %}
        <div class="quiz">
            <div class="question">
                <span>Q{{ question.no }}.</span>
                <div id="question{{ question.no }}">{{ question.content }}</div>
            </div>
        </div>
    {% endfor %}
</body>
</html>