hr{
    width:50%;
    margin: 0px auto;
}
.logo{
    width: 150px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 70px ;
}
body{
    background: rgba(255, 248, 232, 1);
}
.middle{
    /*background: blue;*/
    height:600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quiz-title{
    font-size: 50px;
    font-weight: bolder;
    color: deepskyblue;
    margin: 10px;
}
/*.quiz-title span:nth-child(1){*/
/*    color: grey;*/
/*}*/
.complete{
    font-size: 35px;
}

.url-box {
    display: inline-block;
    width:350px;
    height: 45px;
    border: 1px dashed darkgray;
    margin-top: 35px;
}
.url-box span{
    display: flex;
    font-size: 20px;
    padding-left: 10px;
    margin-top: 7px;
}
.share{
    color: grey;
    font-size:15px;
}

.footer{
    text-align: center;
}
.footer input{
    font-size: 20px;
    border: 2px dashed grey;
    background: rgba(255, 248, 232, 1);
}

