body{
    background: rgba(255, 248, 232, 1);
}
hr{
    width:50%;
    margin: 0px auto;
}
.logo{
    width: 150px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 70px ;
}
.quiz-info{
    height: 105px;
    /*background: deepskyblue;*/
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#quiz-title{
    font-size: 33px ;
    color: dodgerblue;
}
#quiz-author{
    font-size:18px ;
    margin-top: 5px;
}
.tester-info{
    /*background: deepskyblue;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*margin-bottom: 13px;*/
}
.input-name{
    margin: 15px;
    border: solid 1px grey;
}
.input-name span{
    /*width: 40px;*/
    /*background: red;*/
    padding: 0 25px;
    font-weight: bold;
}
.input-name input{
    width: 190px;
    border:none;
    outline:none;
    background: rgba(255, 248, 232, 1);
    border-left: solid 1px grey;
    text-align: center;

}
.input-date{
    margin: 10px;
    border: solid 1px grey;
}
.input-date span{
    padding: 0 10px;
    font-weight: bold;
}
.input-date input{
    width: 190px;
    border:none;
    outline:none;
    background: rgba(255, 248, 232, 1);
    border-left: solid 1px grey;
    color: gray;
    text-align: center;
}
.random {
    width: 580px;
    height: 270px;
    /*background: red;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 3px grey;
    margin:10px auto;
}
.random div:nth-child(1){
    margin-bottom: 50px;
    font-size: 27px;
    font-weight: bold;

}
.random div:nth-child(2){
    margin-bottom: 30px;
    font-size: 22px;
}
#saying{
    width:450px;
    border:solid 1px lightgray;
    outline:none;
    text-align: center;
    font-size: 20px;
    background: rgba(255, 248, 232, 1);

}
.footer{
    text-align: center;
}
.footer input{
    font-size: 20px;
    margin: 15px auto;
    padding:10px;
}

